* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-white: hsl(0, 0%, 95%);
  --border-white: hsl(0, 0%, 87%);
  --btn-bg-add-book: hsl(148, 71%, 42%);
  --btn-bg-add-book-hover: hsl(149, 81%, 35%);
  --btn-text-add-book: hsl(0, 100%, 100%);
  --modal-bg-closed: hsla(0, 0%, 0%, 0.5);
  --btn-bg-cancel-modal: hsl(0, 84%, 47%);
  --btn-not-read: hsl(0, 0%, 70%);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#library-container {
  width: 100%;
  max-width: 80.0rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--border-white);
  padding: 1.0rem;
  text-align: left;

}

th {
  background-color: (--bg-white);
}

.btn {
  margin-top: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: .8rem;
}

.btn-modal {
  background-color: var(--btn-bg-add-book);
  color: var(--btn-text-add-book);
}

.btn:hover {
  cursor: pointer;
}

.btn-modal:hover {
  background-color: var(--btn-bg-add-book-hover);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-closed);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal[open] {
  display: flex;
}

#new-book-form {
  background-color: var(--bg-white);
  padding: 4rem;
  border-radius: .8rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

label {
  font-weight: 500;
  letter-spacing: .2rem;
}

.btn-submit-book:hover {
  color: var(--btn-text-add-book);
  background-color: var(--btn-bg-add-book-hover);
}

.btn-cancel-modal {
  margin-top: 0;
}

.btn-cancel-modal:hover {
  color: var(--btn-text-add-book);
  background-color: var(--btn-bg-cancel-modal);
}

.toggle-read {
  background-color: var(--btn-not-read);
  color: var(--btn-text-add-book);
  width: 2.0rem;
  height: 2.0rem;
  border: none;
  border-radius: 50%;
  padding: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-read:hover {
  cursor: pointer;
  background-color: var(--btn-bg-add-book-hover);
}

.delete-book {
  background-color: var(--btn-bg-cancel-modal);
  color: var(--btn-text-add-book);
  width: 2.0rem;
  height: 2.0rem;
  border: none;
  border-radius: 50%;
  padding: .8rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-book:hover {
  cursor: pointer;
}

td .delete-book {
  margin: auto;
}
